@import "tailwindcss";

@layer utilities {
  @media print {
    body {
      background-color: white !important;
      color: black !important;
    }
    .print\:hidden, header, nav, footer {
      display: none !important;
    }
    #printable-document-container {
      position: absolute !important;
      left: 0 !important;
      top: 0 !important;
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
      box-shadow: none !important;
      border: none !important;
    }
    @page {
      size: landscape;
      margin: 1cm;
    }
  }
}
